@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .posts-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .posts-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }
    .posts-scrollbar::-webkit-scrollbar-thumb {
        background-color: #f0fdfa;
        border-radius: 4px;
    }
}
